[Unit]
Description=Scuttlebutt Pub

[Service]
User=worldsavingattempt
WorkingDirectory=/opt/poster
ExecStart=/opt/poster/node_modules/.bin/sbot server
Nice=20
Restart=always

[Install]
WantedBy=multi-user.target
